/* new addition */
.sphere {
	width: 400px;
	height: 400px;
	background: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/s1600/1.jpg);
	border-radius: 100%;
	background-size: 980px;
	animation: spin 20s infinite linear;
	position: absolute;
	top: 90px;
	left: 180px;
}
@keyframes spin {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 980px;
	}
}
.dots {
	animation: spins 20s infinite linear;
	position: relative;
	top: 55px;
}
.dots1 {
	animation: spins 20s infinite linear;
	position: relative;
	top: -135px;
}
.dots2 {
	animation: spins 20s infinite 4s linear;
	position: relative;
	opacity: 0;
}
.dots3 {
	animation: spins 20s infinite 6s linear;
	position: relative;
	opacity: 0;
}
.dots4 {
	animation: spins 20s infinite 8s linear;
	position: relative;
	top: 40px;
	opacity: 0;
}
.dots5 {
	animation: spins 20s infinite 13s linear;
	position: relative;
	top: 20px;
	opacity: 0;
}
.dots6 {
	animation: spins 20s infinite 10s linear;
	position: relative;
	top: 30px;
	opacity: 0;
}
.dots7 {
	animation: spins 20s infinite 12s linear;
	position: relative;
	top: 50px;
	opacity: 0;
}
.dots8 {
	animation: spins 20s infinite 14s linear;
	position: relative;
	top: -80px;
	opacity: 0;
}
.dots9 {
	animation: spins 20s infinite 12s linear;
	position: relative;
	top: 40px;
	opacity: 0;
}
.dots10 {
	animation: spins 20s infinite 42s linear;
	position: relative;
	top: -250px;
	opacity: 0;
}
@keyframes spins {
	0% {
		left: 100px;
		scale: 1;
		opacity: 1;
	}
	100% {
		left: 980px;
		opacity: 1;
	}
}
.dash1 {
	width: 580px;
	height: 580px;
	stroke-dasharray: 900;
	stroke-dashoffset: 507;
	animation: draw 10s linear infinite alternate-reverse;
}
.moving-stripes {
	left: 60px;
	top: -10px;
}
@keyframes draw {
	from {
		stroke-dashoffset: 4000;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@media (max-width: 1200px) and (min-width: 960px) {
	.extra3 {
		display: none;
	}
}
@media (max-width: 1433px) and (min-width: 1017px) {
	.moving-stripes {
		left: 10px;
		top: -10px;
	}
	.sphere {
		top: 90px;
		left: 120px;
		width: 320px;
		height: 320px;
	}
	.dash1 {
		width: 500px;
		height: 500px;
	}
}
@media (max-width: 1017px) and (min-width: 960px) {
	.moving-stripes {
		left: -20px;
		top: -10px;
	}
	.sphere {
		top: 90px;
		left: 90px;
		width: 320px;
		height: 320px;
	}
	.dash1 {
		width: 480px;
		height: 480px;
	}
}
@media (max-width: 960px) and (min-width: 560px) {
	.ipad-view {
		height: 513px;
	}
	.moving-stripes {
		left: 10px;
		top: -10px;
	}
	.sphere {
		top: 90px;
		left: 120px;
		width: 370px;
		height: 370px;
	}
	.dash1 {
		width: 540px;
		height: 540px;
	}
}
@media (max-width: 560px) and (min-width: 360px) {
	.moving-stripes {
		left: -10px;
		top: -10px;
	}
	.sphere {
		top: 58px;
		left: 67px;
		width: 250px;
		height: 250px;
	}
	.dash1 {
		width: 360px;
		height: 360px;
	}
}
@media (max-width: 360px) {
	.ipad-view {
		height: 273px;
	}
	.moving-stripes {
		left: -10px;
		top: -10px;
	}
	.sphere {
		top: 50px;
		left: 55px;
		width: 180px;
		height: 180px;
	}
	.dash1 {
		width: 280px;
		height: 280px;
	}
}
